streamlit
PyPDF2
pypdf
Pillow
python-dotenv
python-docx
google-generativeai
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-text-splitters
faiss-cpu
google-genai
langsmith
pytesseract
pdf2image
pillow